@import 'variables';
.go-back {
    cursor: pointer;
}

.btn {
    @media screen and (min-width: 768px) {
        &:not(.btn-small) {
            margin-top: 16px;
            min-width: 220px;
        }
    }   
}

.btn-util {
    width: 180px;
    min-width: 180px !important;
}

.btn-indigo {
    color: white;
    background-color: $indigo;
    &:hover {
        opacity: 0.9;
        color: white;
    }
}

.btn-teal {
    color: white;
    background-color: $teal;
    &:hover {
        opacity: 0.9;
        color: white;
    }
}

.card {
    width: 100%;
}

.btn-edit-title {
    min-width: 50px !important;
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.select-max {
    max-width: 200px;
}

.row {
    width: 100%;
}